<h1><%= @evaluation.student_name %></h1>
<h2><%= @evaluation.date %></h2>
<h3>Evaluador: <%= @evaluation.evaluator_name %></h3>

<ul class="nav nav-tabs">
  <li><a href="#grades" data-toggle="tab"><%= t('grades') %></a></li>
  <li class="dropdown" id="observations">
    <a href="#observations" data-toggle="dropdown" class="dropdown-toggle"><%= t('observations') %><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <%- Evaluation::SECTIONS.each do |section| -%>
        <li><a href="#<%= section %>" data-toggle="tab"><%= t("evaluation.sections.#{section}") %></a></li>
      <%- end -%>
    </ul>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane" id="grades">
    <%= render 'grades', {evaluation_date: @evaluation.date} %>
  </div>
  <%- Evaluation::SECTIONS.each do |section| -%>
    <div id="<%= section %>" class="tab-pane">
      <h3><%= t("evaluation.sections.#{section}") %></h3>



      <div class="accordion" id="accordion-angas-<%= @evaluation.id %>">
        <%- if section == 'swasthya' -%>
          <%- Evaluation::ANGAS.each do |anga| -%>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a href="#<%= anga+'-'+@evaluation.id.to_s %>" class="accordion-toggle" data-toggle="collapse" data-parent="accordion-anga-<%= @evaluation.id %>">
                  <%= t("evaluations.angas.#{anga}") %>
                </a>
              </div>
              <div id="<%= anga+'-'+@evaluation.id.to_s %>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= @evaluation.parser.swasthya_observations(anga: anga).gsub(/\n/,"<br/>").html_safe %>
                </div>
              </div>
            </div>
          <%- end -%>
        <%- else -%>
          <p>
            <%= @evaluation.parser.send("#{section}_observations").gsub(/\n/,"<br/>").html_safe %>
          </p>
        <%- end -%>
      </div>
    </div>
  <%- end -%>
</div>


<script>
  $(function () {
    $(".collapse").collapse();
    $('.dropdown-toggle').dropdown();
    $('#grades').tab('show');
  })
</script>