<!DOCTYPE html>
<html>
<head>
  <title>Examenes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <%= link_to t('menu.people'), people_path %> | <%= link_to t('menu.upload_examen_vivo'), new_examen_vivo_path %>
  </div>

  <div>
<%= yield %>
  </div>

</body>
</html>
